#!/bin/bash

{{#keyProps.useRsa}}
openssl genrsa -out {{{privateKeyPath}}} {{{keyProps.rsaKeySize}}}
{{/keyProps.useRsa}}
{{#keyProps.useEc}}
openssl ecparam -name {{{keyProps.ecCurveName}}} -genkey -noout -out {{{privateKeyPath}}}
{{/keyProps.useEc}}

cat>{{{csrCnfPath}}}<<EOF
[ req ]
distinguished_name = req_distinguished_name
prompt = no
[ req_distinguished_name ]
CN={{{subjectCn}}}
EOF

cat>{{{crtCnfPath}}}<<EOF
basicConstraints=critical,CA:false
{{#useTlsServer}}
{{#useRsa}}
keyUsage=critical,keyEncipherment,digitalSignature
{{/useRsa}}
{{#useEcdsa}}
keyUsage=critical,keyAgreement,digitalSignature
{{/useEcdsa}}
extendedKeyUsage=critical,serverAuth
{{/useTlsServer}}
{{#useTlsClient}}
keyUsage=critical,digitalSignature
extendedKeyUsage=critical,clientAuth
{{/useTlsClient}}
{{#useKeyPair}}
keyUsage=critical,dataEncipherment
{{/useKeyPair}}
{{#hasSANs}}
subjectAltName = @alt_names
[ alt_names ]
{{#sans.ips}}
IP.{{{index}}} = {{{value}}}
{{/sans.ips}}
{{/hasSANs}}
EOF

# create CSR
openssl req \
    -new \
    -sha384 \
    -config {{{csrCnfPath}}} \
    -key {{{privateKeyPath}}} \
    -out {{{csrPath}}}

openssl <<EOF
engine dynamic \
    -pre SO_PATH:{{{libPaths.pkcs11}}} \
    -pre ID:pkcs11 \
    -pre LIST_ADD:1 \
    -pre LOAD \
    -pre MODULE_PATH:{{{libPaths.ykcs11}}} \
    -pre VERBOSE
x509 \
    -engine pkcs11 \
    -CAkeyform engine \
    -CAkey slot_0-id_{{{pkcs11slotId}}} \
    -sha384 \
    -CA {{{caPath}}} \
    -CAcreateserial \
    -req \
    -extfile {{{crtCnfPath}}} \
    -days=365 \
    -in {{{csrPath}}} \
    -out {{{certPath}}}
EOF

cat {{{certPath}}} {{{caPath}}} > {{{bundleCertPath}}}
rm {{csrPath}} {{{cnfPath}}}
